
div(id="sq1-container")
	canvas(id="sq1", width="200", height="200")
	div(id="sq1-text")
		h1 Materials
div(id="sq2-container")
	canvas(id="sq2", width="140", height="105")
	div(id="sq2-text")
		h1 Interior
div(id="sq3-container")
	canvas(id="sq3", width="76", height="105")
	div(id="sq3-text")
		h1 Form
div(id="sq4-container")
	canvas(id="sq4", width="76", height="105")
	div(id="sq4-text")
		h1 Size
script(src='/javascripts/drawings.js')
