
.container
	canvas(id="rietveld-sq", width="200", height="200", data-init='true')
	canvas(id="ando-sq", width="200", height="200", data-init='true')
	#rietveld
		div(id="sq1-container")
			canvas(id="sq1", width="200", height="200")
			div(id="sq-text-container")
				div(id="sq1-text")
					h1 Materials
		div(id="sq2-container")
			canvas(id="sq2", width="140", height="105")
			div(id="sq2-text")
				h1 Interior
		div(id="sq3-container")
			canvas(id="sq3", width="76", height="105")
			div(id="sq3-text")
				h1 Form
		div(id="sq4-container")
			canvas(id="sq4", width="76", height="105")
			div(id="sq4-text")
				h1 Main
	div(id="rietveld-info")
		div(id="rietveld-pic")
			a(href="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Rietveld_Schr%C3%B6derhuis_HayKranen-20.JPG/300px-Rietveld_Schr%C3%B6derhuis_HayKranen-20.JPG", rel="rprettyPhoto[pp_gal]", title="Notice the collision of planes.")
				img(class="rpic",src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Rietveld_Schr%C3%B6derhuis_HayKranen-20.JPG/300px-Rietveld_Schr%C3%B6derhuis_HayKranen-20.JPG", width="60", height="60", alt="Exterior View")
			a(href="http://ad009cdnb.archdaily.net/wp-content/uploads/2010/12/1293607917-schroder30.jpg", rel="rprettyPhoto[pp_gal]", title="Rietveld used space very well along with creating unique and colorful furniture.")
				img(class="rpic",src="http://ad009cdnb.archdaily.net/wp-content/uploads/2010/12/1293607917-schroder30.jpg", width="60", height="60", alt="Interior")
			a(href="http://maddme.files.wordpress.com/2010/02/mulder-rietveld-schroder-house-living-room.jpg", rel="rprettyPhoto[pp_gal]", title="One can see the sliding walls to change the room configuration.")
				img(class="rpic",src="http://maddme.files.wordpress.com/2010/02/mulder-rietveld-schroder-house-living-room.jpg", width="60", height="60", alt="Interior")
			a(href="http://metropolism.com/reviews/ruth-buchnan-rietveld-sidesteppe/resources/the-view-from-below.jpg?version=0537fb40a68c18da59a35c2bfe1ca554", rel="rprettyPhoto[pp_gal]", title="See how the corner disappears.")
				img(class="rpic",src="http://metropolism.com/reviews/ruth-buchnan-rietveld-sidesteppe/resources/the-view-from-below.jpg?version=0537fb40a68c18da59a35c2bfe1ca554", width="60", height="60", alt="Window On A Corner")
			a(href="http://www.sallyto.com/images/drawing-schroder3.jpg", rel="rprettyPhoto[pp_gal]", title="The sketch displays the assymetry of the house.")
				img(class="rpic",src="http://www.sallyto.com/images/drawing-schroder3.jpg", width="60", height="60", alt="Design")
		h1(id="rietveld-header")
		div(id="rietveld-text")
	div(id="ando-info")
		div(id="ando-pic")
			a(href="http://th07.deviantart.net/fs71/PRE/f/2011/015/9/7/koshino_house___interior_3_by_freedux-d377sn1.jpg", rel="prettyPhoto[pp_gal]", title="This image displays Ando's mastery of light and shadow.")
				img(class="apic",src="http://th07.deviantart.net/fs71/PRE/f/2011/015/9/7/koshino_house___interior_3_by_freedux-d377sn1.jpg", width="60", height="60", alt="Corridor Between The Two Rectangular Units")
			a(href="http://th01.deviantart.net/fs71/PRE/f/2011/015/f/2/koshino_house___exterior_2_by_freedux-d377sqh.jpg", rel="prettyPhoto[pp_gal]", title="The courtyard seems to naturally fit into the landscape. One can see the slits that allow light to make interesting shadows in the previous image.")
				img(class="apic",src="http://th01.deviantart.net/fs71/PRE/f/2011/015/f/2/koshino_house___exterior_2_by_freedux-d377sqh.jpg", width="60", height="60", alt="Courtyard")
			a(href="http://showcase.houra.cz/koshino_house/9019_final_int_0114_0000.jpg", rel="prettyPhoto[pp_gal]", title="The light come from the slit on the top of the curved addition casts interesting shadows, making the building dynamic.")
				img(class="apic",src="http://showcase.houra.cz/koshino_house/9019_final_int_0114_0000.jpg", width="60", height="60", alt="Atelier")
			a(href="http://i-cdn.apartmenttherapy.com/uimages/ny/0709_rudin.jpg", rel="prettyPhoto[pp_gal]", title="The interior is defined simply as a space and nothing more. The only interacting component is the light.")
				img(class="apic",src="http://i-cdn.apartmenttherapy.com/uimages/ny/0709_rudin.jpg", width="60", height="60", alt="Living Room")
			a(href="http://hyojungkim.files.wordpress.com/2011/03/17.jpg", rel="prettyPhoto[pp_gal]", title="The design shows how the buildings was buried into the landscape.")
				img(class="apic",src="http://hyojungkim.files.wordpress.com/2011/03/17.jpg", width="60", height="60", alt="Design")
		h1(id="ando-title")
		div(id="ando-text")
	#ando
		div(class="light", id="ando-1")
			h2(class="light-text", id="ando-1-text")
		div(class="light", id="ando-2")
			h2(class="light-text", id="ando-2-text")
		div(class="light", id="ando-3")
			h2(class="light-text", id="ando-3-text")
		div(class="light", id="ando-4")
			h2(class="light-text", id="ando-4-text")
	#title
		h1 Polarity of Modernism: The Koshino House & The Rietveld-Schroder House
		div - Rahul Gupta
		#links
			span(class="link")
				a(href="/workscited") Works Cited
			span(class="link")
				a(href="https://github.com/rahulkgupta/Architecture-Paper") Source Code
	#thesis While Tadao Ando’s Koshino House and the Rietveld-Schroder House are built with a modernist touch, focusing on abstract geometry and natural light, each architect’s personal philosophies are polar opposites, Ando an Individualist and Rietveld a Universalist. This wonderful predicament captures the beauty and intricacy of architecture, as structures with many similarities are designed by architects with completely different ideologies.
	

script(src='/javascripts/drawings.js')
