!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettyPhoto.css')
    script(src="/javascripts/jquery-1.7.2.min.js")
    script(src="/javascripts/jcanvas.min.js")
    script(src="/javascripts/jquery.prettyPhoto.js")
    link(href='http://fonts.googleapis.com/css?family=Old+Standard+TT', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic', rel='stylesheet', type='text/css')
  body!= body