.container
	h1(id="wktitle") Works Cited 
	div(class="wk") Andō, Tadao, and Massimo Vignelli. Tadao Ando: Light and Water. New York: Monacelli, 2003. Print. 
	div Andō, Tadao, Yukio Futagawa, and Peter Eisenman. Tadao Andō: Details. Tokyo: A.D.A. Edita, 1991. Print. 
	div(class="wk") "ArchDaily: The World's Most Visited Website for Architects." ArchDaily. Web. 10 Apr. 2012. http://www.archdaily.com/161522/ad-classics-koshino-house-tadao-ando. 
	div(class="wk") "Centraal Museum Utrecht." Centraal Museum. Web. 10 Apr. 2012. http://centraalmuseum.nl/en/visit/locations/rietveld-schroder-house. 
	div(class="wk") Dal, Co Francesco, and Tadao Andō. Tadao Ando: Complete Works. London: Phaidon, 1995. Print. 
	div(class="wk") Hill, Albert. "Interior Design: The Schröder House in Utrecht." Telegraph. Web.http://www.telegraph.co.uk/property/interiorsandshopping/7036984/Interior-design-The-Schroder-House-in-Utrecht.html. 
	div(class="wk") "Koshino House." Simon Fraser University. Web. http://www.sfu.ca/~ckl27/Porfolio/Design/Slides/KoshinoSlides.pdf.div(class="wk") Küper, Marijke, and Ida Van. Zijl. Gerrit Th. Reitveld, 1888-1964:  The Complete Works. Utrecht, Netherlands: Central Museum ; New York, N.Y., 1992. Print. 
	div(class="wk") Matsuba, Kazukiyo, and Tomio Ōhashi. Ando, Architect. Tokyo: Kodansha International, 1998. Print. 
	div(class="wk") Mulder, Bertus, Ida Van. Zijl, and Gerrit Thomas Rietveld. Rietveld Schröder House. New York, NY: Princeton Architectural, 1999. Print. 
	div(class="wk") "Rietveld Schroderhuis (Rietveld Schroder House)." Rietveld Schroderhuis (Rietveld Schroder House). Web. 10 Apr. 2012.http://whc.unesco.org/en/list/965. 
	div(class="wk") "Schroder House Utrecht by Gerrit Rietveld." Galinsky. Web. 10 Apr. 2012. http://www.galinsky.com/buildings/schroder/index.htm. 
	div(class="wk") Svieven, Megan. "Rietveld Schroder House / Gerrit Rietveld." Archdaily.com. Web. http://www.archdaily.com/99698/ad-classics-rietveld-schroder-house-gerrit-rietveld.


	a(id="home-link", href="/") Home