
#rietveld
{
	padding:50px;
}
a {
  color: #00B7FF;
}

#c1-text
{
	display:none;
	
}

#ando-long-sec
{
	position:relative;
}



#ando
{
	position: relative;
	float:left;
	top:-650px;
	left:680px;
}
#rietveld-sq
{
	position:relative;
	float:left;
	display: block;   margin-left: auto;   margin-right: auto;
	vertical-align: middle;
	top: 100px;
	left:0px;
}

#ando-sq
{
	position:relative;
	float:left;
	top:400px;
	left:540px;
}

#sim-sq
{
	position:relative;
	float:left;
	top:200px;
	left:-300px;
}

#sq1-container
{
	position:relative;
	width:200px;
	height:200px;
	float:left;
	left:-1400px;
}

#sq1
{
	position:absolute;
	top:0;
	left:0;
	-webkit-transition: margin-left;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 400ms;
}


#sq1:hover
{
margin-left:-200px;
}


#sq1-text
{
	position:absolute;
	top:55px;
	left:20px;
	z-index:-1;
	font-family: 'Lato', sans-serif;
}

#sq2-container
{
	position:relative;
	width:140px;
	height:105px;
	float:left;
	left:3002px;
}

body
{
	overflow: hidden;
}
.container
{
	width:940px;
	height:600px;
	position: relative;
	margin: 0 auto;
}
#sq2
{
	position:absolute;
	top:0;
	left:0;
	-webkit-transition: margin-left;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 400ms;
}

#sq2-text
{
	position:absolute;
	top:15px;
	left:20px;
	z-index:-1;
	font-family: 'Lato', serif;
}

#sq2:hover
{
margin-left:140px;
}

#sq3-container
{
	float:left;
	position:relative;
	left:-352px;
	top:1094px;
	width:76px;
	height:105px;
}

#sq3
{
	position:absolute;
	top:0;
	left:0;
	-webkit-transition: margin-top;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 400ms;
}

#sq3-text
{
	-webkit-transform: rotate(90deg); 
	position:absolute;
	top:15px;
	left:5px;
	z-index:-1;
	rotation:90deg;
	font-family: 'Lato', sans-serif;
}

#sq3:hover
{
margin-top:105px;
}



#sq4-container
{
	float:left;
	position:relative;
	left:-364px;
	top:-1306px;
	width:76px;
	height:105px;
}

#sq4
{
	position:absolute;
	top:0;
	left:0;
	-webkit-transition: margin-top;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 400ms;
}

#sq4-text
{
	-webkit-transform: rotate(90deg); 
	position:absolute;
	top:15px;
	left:5px;
	z-index:-1;
	rotation:90deg;
	font-family: 'Lato', sans-serif;
}

#sq4:hover
{
margin-top:105px;
}

#sq4
{
	float:left;
	position:relative;
	
}


.light
{
	
	display:none;
	position:relative;
	float: left;
	background: #080808;
	margin-right: 20px;
	box-shadow: 0px 0px 20px 5px #111111 inset;
	-webkit-transition: background;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 400ms;

}

.light-text
{
	white-space:nowrap;
	text-align:center;
	-webkit-transform: rotate(90deg);
	top:15px;
	position:relative;
	overflow: visible;
	font-family: 'Lato', serif;
}

.light:hover
{
	background: #ffff99;
}

#ando-1
{
	height: 100px;
	width: 50px;
}

#ando-2
{
	height: 200px;
	width:50px;
}

#ando-3
{
	height: 250px;
	width:50px;
}

#ando-4
{
	height: 350px;
	width:50px;
}

#ando-pic
{
	margin-bottom: 20px;
	left: 70px;
	position: relative;
}

#ando-title
{
	color: #ffffbb;
	position:relative;
	float:left;
	font-family: 'Open Sans', sans-serif;
}
#ando-text
{
	color: #ffffbb;
	position:relative;
	float:left;
	font-family: 'Old Standard TT', sans-serif;
	font-size: 16px;
}
#ando-info
{
	display:none;
	position:relative;
	float:left;
	width:540px;
	height:500px;
	top:-100px;
	left:-400px;
}

#rietveld-info
{
	display:none;
	position:relative;
	float:left;
	width:540px;
	height:500px;
	top:-100px;
}


#rietveld-pic
{
	padding-left:100px;
}

#rietveld-header
{
	text-align:right;
	font-family: 'Open Sans', sans-serif;
}

#rietveld-text
{
	font-family: 'Gentium Book Basic', serif;
}

#thesis
{
	position: relative;
	width: 500px;
	top:-40px;
	font-family: 'Abril Fatface', cursive;
	font-size:16px;
	line-height:30px;
	text-indent:40px
}

#title
{
	position: relative;
	left: 440px;
	width: 501px;
	text-align: right;
	top: -150px;
	font-family: 'Lato', serif;

}

.rpic
{
	margin-right:10px;
	border-style:solid;
	border-width:2px;
	border-color:black;
}

.apic
{
	margin-right:10px;
	border-style:solid;
	border-width:2px;
	border-color:#ffff99;
}

#links
{
	position:relative;
	top: 30px;
}

.link
{
	margin-left:20px;
}


.link a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.link a:hover,
.link a:active {
  outline: 0;
}

.link a {
  color: #0088cc;
  text-decoration: none;
}

.link a:hover {
  color: #005580;
  text-decoration: underline;
}

#wktitle
{
	font-family: 'Lato', serif;

}

.wk
{
	font-family: 'Gentium Book Basic', serif;
	font-size:16px;
	padding-bottom:15px;

}

#home-link
{
	font-family: 'Gentium Book Basic', serif;
	font-size:16px;
	text-align:center;
}